certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pkg-resources==0.0.0
psycopg2-binary==2.8.5
SQLAlchemy==1.3.17
urllib3==1.25.9
Werkzeug==1.0.1
Requirement already satisfied: faker in ./env/lib/python3.6/site-packages (4.1.0)
Requirement already satisfied: text-unidecode==1.3 in ./env/lib/python3.6/site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in ./env/lib/python3.6/site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.6/site-packages (from python-dateutil>=2.4->faker) (1.15.0)
