<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- We'll load React dependencies on all pages for this app. -->
	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
	<!--Loading React Router-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/6.0.0-alpha.5/react-router.development.min.js"></script>
	<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

 <!-- Include any page-specific Javascript using this block. -->
	{% block js %}
	<script src="static/js/homepage.jsx" type="text/jsx"></script>
  {% endblock %}

</head>
<body>
	
  <h1>Welcome to Cassandra's Webapp</h1>

    <div id="root"></div>
	
		
  <!-- Include the page's content with this block. -->
  {% block body %}
  {% endblock %}

 
</body>
</html>



