<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- We'll load React dependencies on all pages for this app. -->
  <script crossorigin 
  src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin 
  src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin 
  src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js">
  </script>
  <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
  
	<!--Loading React Router-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/6.0.0-alpha.5/react-router.development.min.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

  <!-- Loading React Bootstrap
  <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
  <script>var Alert = ReactBootstrap.Alert;</script> -->

  <!--Insert my own fonts here for CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
 <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="../static/css/style.css"

 <!-- Include any page-specific Javascript using this block. -->
	{% block js %}
	<script src="static/js/homepage.jsx" type="text/jsx"></script>
  {% endblock %}

</head>
<body>
  <div className="container-fluid" id="parallax">
	
    <div id="root"></div>	
		
  <!-- Include the page's content with this block. -->
  {% block body %}
  {% endblock %}

 </div>
</body>
</html>



